{% extends "portfolio/base.html" %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/contactStyleSheet.css' %}">
{% endblock %}

{% block content %}
<div class="centered">
Portfolio Options
<form action="{% url 'portfolio_update' this_user %}" method="post">{% csrf_token %}
    <label id="lblName">Portfolio Name: </label>
    <input name="txtName" type="text" value="{{ this_portfolio.name }}">
    <label id="lblHeader">Portfolio Header: </label>
    <textarea rows="4" cols="50" name="txtHeader">{{this_portfolio.header}}</textarea>
    <label id="lblStyle">Portfolio Theme: </label>
    <select name="selectStyle" >
        <option value="Light">Light</option>
        <option value="Dark">Dark</option>
    </select>

    <input type="submit" value="Submit Changes">

</form>
</div>
{% endblock content %}