{% extends "portfolio/base.html" %}
{% load staticfiles %}
<!doctype html>
<html>
    <head>


    </head>
    <body>
    {% block content %}

<div class="container">
    <div class="jumbotron" id="jumbotron">

        <canvas id="myCanvas" width="1000" height="600"></canvas>
    </div>

</div>

    <script>
        // Set up the worker
        var running = false;
        var worker = new Worker("{% static 'src/js/movingPictures.js'%}"); // path is relative to the main HTML file
        worker.addEventListener('message', function (event) {

            if (event.data === "Done!") {
                running = false;
                console.log("Worker Done");
            }
        });
    </script>

    {% endblock content %}

    </body>
</html>
