#contactLogo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
}

#contactText{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 25%;
}

.contactHeader{
    background-color: #6D6E71;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contactInfo{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-variant-caps: all-petite-caps;
    font-size: 20px;
}
