
.footer{
    margin-top: 10px;
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: #6D6E71;
    color: white;
    text-align: center;

}
.footerLinks{
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 40px;
}
p{
    padding-top: 25px;

}

/*visited link*/
a:visited{
    color:white;
    text-decoration: none;
}

/*selected link*/
a:active{
    text-decoration: none;
    font-style: italic;
}
