/* navbar */
.navbar-default {
    background-color: #6D6E71;
    /*border-color: #E7E7E7;*/
     border-bottom: 1px solid #000000;
}

.navbar-grey{
    background-color: #6D6E71;

}

.topLogo{
    display: inline-block;
    width: 100px;
    height: auto;
    padding-top: auto;
    padding-left: 25px;
}

#loginButton{
    background-color: white;
    color: black;
}

.navbar-login
{
    width: 405px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 107px;
}


