.image-landscape {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image-landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;

}


.profileHead-name{
    font-size: 28px;
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    
    
}

.profileHead-about{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 30px;
    
}

.profile-info-boxes{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid #D1D3D4; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid #D1D3D4; /* Firefox */
    column-rule: 1px solid #D1D3D4;
}

.column1{
    
}

.column2{
    
}

.column3{
    
}

.profile-text{
    padding: 50px;
}